@import '../../constants/styles/vars.css';

.Layout {
    max-width: 1440px;
    margin: 0 auto;
    background: no-repeat url('../../../img/Main-page_light.png');
    background-size: cover;
    background-position: center;
}

.LayoutRight {
    background-color: transparent;
}

.Content {
    padding: 21px;
    transition: var(--animation);
    display: flex;
    flex-direction: column;
}

@media (max-width: 834px) {
    .Content {
        padding: 23px;
    }
}

@media (max-width: 480px) {
    .Content {
        padding: 24px 22px 0;
    }

    .ContentCollapsed {
        padding: 24px 17px 0;
    }
}
