.Layout {
    max-width: 1440px;
    margin: 0 auto;
    background: no-repeat url('../../../img/Main-page_light.png');
    background-size: cover;
    background-position: center;
}

.LayoutRight {
    background-color: transparent;
}