.Container {
    margin-top: 12px;
}
.Password {
    margin-bottom: 44px;
}

.ConfirmPassword {
    margin-bottom: 60px;
}

.Button {
    margin-bottom: 12px;
}
.ButtonNetwork svg {
    @media (max-width: 640px) {
        display: none;
    }
}
