@import '../../constants/styles/vars.css';

.Header {
    background-color: var(--blue1);
    height: unset;
    line-height: 130%;
    display: flex;
    padding: 0;
    justify-content: space-between;
    padding: 16px 22px 22px;
}


.HeaderText {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.SettingsContainer {
    margin: 33px 17px;
}

.Settings {
    display: flex;
    gap: 10px;
}


.SettingsText {
    word-break: normal;
}

@media (max-width: 834px) {
    .HeaderText {
        flex: 0 0 82%;
    }

    .SettingsContainer {
        margin: 2.3% 2%;
    }

    .Settings {
        margin-top: 25%;
    }

    .SettingsIcon {
        display: none;
    }
}

@media (max-width: 480px) {
    .Header {
        padding: 0 32px 7px 0;
    }

    .HeaderText {
        padding: 15px 24px;
        gap: 7px;
        flex: 0 0 93%;
    }

    .SettingsContainer {
        margin: 2.3% 0%;
    }

    .Settings {
        margin-top: 85%;
        background-color: var(--white);
        border-radius: 50%;
        width: 32px;
        height: 32px;
        border: 1px solid var(--gray2);
        align-items: center;
        justify-content: center;
        box-shadow: 0 0 1px var(--shadow);
    }

    .SettingsIcon {
        display: block;
    }

    .SettingsText {
        display: none;
    }
}