.LoginExtra {
    margin-top: 50px;
    margin-bottom: 20px;

    @media (max-width: 480px) {
        margin-top: 44px;
    }
}

.LoginButton {
    margin-bottom: 18px;

    @media (max-width: 480px) {
        margin-bottom: 14px;
    }
}

.TextLink {
    color: inherit;
}

.ButtonNetwork {
    margin-bottom: 84px;

    @media (max-width: 480px) {
        margin-bottom: 55px;
    }
}

.ButtonNetwork svg {
    @media (max-width: 480px) {
        display: none;
    }
}
