@import '../../constants/styles/vars.css';

.Sider {
    background-color: var(--white);
    position: relative;
    min-height: 100vh;
    box-shadow: 0 2px 8px 0 var(--shadow);

    @media (max-width: 480px) {
        overflow: auto;
        position: fixed;
        left: 0;
        z-index: 50;
    }
}

.LogoContainer {
    margin: 30px -2px 42px 0;
    transition: var(--animation);
    list-style: none;
    overflow: hidden;

    @media (max-width: 834px) {
        margin: 30px 0 43px;
    }

    @media (max-width: 480px) {
        margin: 10px 0 20px;
    }
}

.Logo {
    @media (max-width: 480px) {
        width: 100%
    }
}