.MainContent {
    padding: 23px 21px;
    display: flex;
    @media (max-width: 640px) {
        padding: 23px 17px 0 17px;
    }
}

.MainSpace {
    flex-basis: 752px;
}

.CardsGrid {
    @media (max-width: 640px) {
        display: flex;
        flex-direction: column;
    }
}

.Card {
    text-align: center;

    @media (max-width: 834px) {
        text-align: unset;
    }

    @media (max-width: 640px) {
        text-align: center;
    }
}

.CardBottom {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 5px 0;
    height: 100%;
}
