@import 'antd/dist/antd.less';

.MainContent {
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 65%;
}

.Card {
    text-align: center;
    color: @blue-6;
}